In [1]:
a = 10
if a == 10

SyntaxError: invalid syntax (318151129.py, line 2)

In [2]:
a = 10
if a == 10:
    print('True')

True

In [3]:
if a == 11:
    print('true')
print('false')

false

In [4]:
if a == 10:
    print('true')
print('false')

true
false

In [6]:
if a==10:
    print('true')
else :
    print('false')

true

In [7]:
if a > 10:
    print('condition is true')
else:
    print('condition is false')

condition is false

In [8]:
if a > 5:
    print('condition is true')
else:
    print('condition is false')

condition is true

In [9]:
a = 10
if a != 11:
    print('condition is false')
else :
    print("ture")

condition is false

In [10]:
a = 10
if a == 11:
    print('condition is false')
else :
    print("ture")

ture

In [11]:
a = 10
if a == 12:
    print('here we are compare 10 with 12')
elif a == 11:
    print('comparing 10 with 11')
else: 
    print('print if all fails')

print if all fails

In [12]:
a = 10
if a == 12:
    print('here we are compare 10 with 12')
elif a == 10:
    print('comparing 10 with 11')
else: 
    print('print if all fails')

comparing 10 with 11

In [13]:
a = 10
if a != 12:
    print('here we are compare 10 with 12')
elif a != 10:
    print('comparing 10 with 11')
else: 
    print('print if all fails')

here we are compare 10 with 12

In [15]:
price = 500
if price > 500:
    print('i wont buy jacket')
elif price <= 500:
    print('i will buy the jacket')

i will buy the jacket

In [16]:
price = 500
if price > 500:
    print('i wont buy jacket')
elif price <= 500:
    print('i will buy the jacket')
else price == 500:
    
    # we are not supposed to give condition in else

SyntaxError: invalid syntax (3592455959.py, line 6)

In [21]:
price = 500
if price > 500:
    print('i wont buy jacket')
elif price < 500:
    print('i will buy the jacket')
elif price == 501:
    print('i bought it')
else: print('dont know')

dont know

In [24]:
l =[1,2,3,4,5,6,7]
if 20in l:
    print("yes 2 in list")
else:
    print('not in list')

not in list

In [26]:
if 1 in l:
    print("try addition")
elif 2 in l:
    print("try subtraction")
elif 3 in l:
    print("try multiplication")
elif 4 in l:
    print("try division")

try addition

In [27]:
if 10 in l:
    print("try addition")
elif 2 in l:
    print("try subtraction")
elif 3 in l:
    print("try multiplication")
elif 4 in l:
    print("try division")

try subtraction

In [28]:
if 10 in l:
    print("try addition")
elif 20 in l:
    print("try subtraction")
elif 3 in l:
    print("try multiplication")
elif 4 in l:
    print("try division")

try multiplication

In [30]:
if 10 in l:
    print("try addition")
elif 20 in l:
    print("try subtraction")
elif 30 in l:
    print("try multiplication")
elif 4 in l:
    print("try division")
if 4 in l:
    print("this is new")

try division
this is new

In [31]:
a = 400

In [36]:
b  = input() # by default every thing is in string only

100

In [37]:
b

'100'

In [41]:
c = int(input()) # this is type casting to input funtion

50

In [42]:
c

50

In [45]:
c = int(input())
if c < 500 :
    print("i will not be able to buy jacket")
    if c < 400 :
        print('i will buy jacket')
    elif c < 300 :
        print('i will buy shirt ')
    else:
        print("buy ri=umal")
else :
    print("nothin not enough money")

10
i will not be able to buy jacket
i will buy jacket

In [2]:
cost = int(input())
if cost < 600:
    print('i can buy jacket')
elif cost < 400:
    print('i can bye jeans')
elif cost < 300:
    print('i can buy shirt')
elif cost < 200:
    print('i can buy t-shirt')
else :
    print('not enough money')

500
i can buy jacket

In [7]:
l = [1,2,3,4]
for 1 in l:
    cost = int(input())
    if cost < 600:
        print('i can buy jacket')
    elif cost < 400:
        print('i can bye jeans')
    elif cost < 300:
        print('i can buy shirt')
    elif cost < 200:
        print('i can buy t-shirt')
    else :
        print('not enough money')

SyntaxError: cannot assign to literal (1265003962.py, line 2)

In [2]:
marks = int(input())
if marks < 600:
    print("no GRE")
    if marks <500:
        print("NO TOFEL")
        if marks < 400:
            print("nothing do again")
    else:
        print('get TOFEL')
else:
    print('you got GRE')

450
no GRE
NO TOFEL

In [8]:
val = float(input("Enter the floating point number = "))
if val >=0:
    if val ==0:
        print("entered value is zero")
    else:
        print("+ve number")
else:
    print('-ve number')

Enter the floating point number = 5
+ve number

In [11]:
a = 10
if a < 10 or a == 10: # uses of or ture if any one is true
    print('try to do somthing')

try to do somthing

In [12]:
a = 10
if a > 10 or a < 10:
    print("try to do something")

In [14]:
# and condition 
a = 10
if a < 10 and a ==10:
    print('try to do something')

In [18]:
# and condition 
a = 5
if a < 10 and a <= 15:
    print('try to do something')

try to do something

In [19]:
s = "nagesh"
if s=='nagesh' or s == "Nagesh":
    print("this is nagesh")

this is nagesh

In [21]:
s = "nagesh"
if s=='nagesh' and s == "Nagesh":
    print("this is nagesh")
else:
    print("not match")

not match

In [22]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 13 and d ==13:
    print("lets do something")

In [24]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d ==13:
    print("lets do something")

lets do something

In [25]:
d = {'key10':'value','key2':'nagesh','key3':'hello'}

In [30]:
if d['key10']=='value' and d['key2']=='nagesh' and d['key3']=='hello':
    print("all matches")
    print(d.values())
else:
    print("not match")

all matches
dict_values(['value', 'nagesh', 'hello'])